/* Navigation panel styling */
/* name */
#name {
  text-align: center;
  font-size: 20px;
  align-content: center;
  border-bottom: 1px solid #efefef;
}

/* Navigation column div */
#nav-col {
  text-align: center;
  margin-top: 25px;
}

/* Drop Down Display None */
nav select {
  display: none;
}

/* When display screen size is below 768px */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav select {
    display: inline-block;
    max-width: 100%;
  }
}
/* select tag */
nav select {
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 10px;
}
/* Profile photo */
#profile-photo {
  padding: 25px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
/* ul list */
#nav-list {
  list-style-type: none;
  padding: 0;
}
/* list item */
ul li {
  padding: 5px;
  margin: 5px;
  border: 1px solid #efefef;
}
/* a tag */
ul li a {
  color: black;
  text-decoration: none;
}
/* ul list item on hover */
ul li a:hover {
  color: #336699;
  text-decoration: none;
}

/* Information display area styling */

#info-display {
  margin: 25px;
  border: 1px solid #efefef;
  height: 100%;
}

/* Social media icons list */
#social-media-icons {
  margin-top: 25px;
  border-top: 1px solid #efefef;
}

#footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-content: center;
}

#footer-list li {
  border: none;
  display: inline-block;
}

/* Subdivision */
#icons-subdiv {
  margin-top: 5px;
}

/* Education div */
#education,
#projects {
  padding: 25px;
  overflow: scroll;
  max-height: 700px;
}

#clg-list,
#courses-list,
#org-list,
#workshops-list,
#projects-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
