body {
  font-family: Consolas, monaco, monospace;
  background-color: white;
  overflow: hidden;
}

#line-1,
#line-2,
#line-3 {
  color: #336699;
}

#intro-text {
  padding: 50px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}
