body {
  font-family: Consolas, monaco, monospace;
  background-color: white;
  overflow: auto;
  letter-spacing: 2px;
}

#line-1,
#line-2,
#line-3 {
  color: #336699;
}

#line-1 {
  font-size: 52px;
}

#line-2,
#line-3 {
  font-size: 42px;
}

#intro {
  padding: 200px;
  font-size: 18px;
}

#intro-text {
  padding: 50px;
  /* border: 1px solid #e7e7e7; */
}

@media (max-width: 600px) {
  #intro {
    padding: 20px;
  }
  #intro-text {
    padding: 10px;
  }
  body {
    font-size: 12px;
  }
}
