
.body{
    /* The image used */
    background-image: url("../Images/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

#nav {
    margin-left: 12vw;
    margin-right: 12vw;
}

.header a:link { /* Essentially means a[href], or that the link actually goes somewhere */
    color: #154360 ;
}
.header a:visited {
    color: #154360 ;
}
.header a:hover {
    color: black;
}
.header a:active {
    color: black;
}

#name {
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", serif;
}

#blog, #home, #download, #design {
    padding: 15px 15px 15px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", serif;
}

.body {
    display: block;
    margin-left: 4vw;
    margin-right: 4vw;
}

.body:focus {
    outline: none;
}

#education, #skillset, #projects, #extracuc {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Styling the button that expands and collapses the content */
.collapsible {
    background-color:#EAF2F8;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    opacity: 0.5;
}

#button1, #button2, #button3, #button4 {
    color:#154360;
    font-size: 21px;
    font-family: "Comic Sans MS", serif;
    font-weight: bolder;
    opacity: revert;
}

/* editing the button */
.active, .collapsible:hover {
    background-color:#F2F4F4;
    color: black;
    opacity: unset;
}

/* Styling the content */
.content {
    /*padding: 0 5px 0 5px;*/
    background-color:#F2F4F4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    opacity: unset;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2796';
}

#linkedin, #git, #hacker, #fb {
    padding: 10px;
}

#contact {
    padding: 25px 4vw 0 4vw;
    width: 100%;
    border: none;
    outline: none;
    display: inline-block;
}

.footer {
    text-align: center;
}

